/* You can add global styles to this file, and also import other style files */
@import '@fortawesome/fontawesome-free/css/all.min.css';

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f6f5f7;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

p {
    line-height: 1.5;
}

/* Color Palette */
:root {
    --primary-color: #2980b9;
    --secondary-color: #2c3e50;
    --accent-color: #FF4B2B;
    --background-color: #ecf0f1;
}

/* Responsive Design */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }
}
